@model IdentitySample.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div>
    <form method="post" asp-action="login" asp-route-ReturnUrl="@ViewBag.ReturnUrl">
        @*<input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />*@


        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
        <button type="submit"> Log in </button>
    </form>
</div>